a {
    text-decoration: none !important;
}

.btn__body {
    height: 80px;
    width: 80px;
    border-radius: 20px;
    color: #f8d9c0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    transition: all 0.2s ease;
}

.btn__body.active {
    background-color: rgba(244, 187, 146, 1);
    color: #fff;
    transform: scale(1.05);
}

.btn__body:hover {
    color: #fff;
}

.btn__title {
    margin: 4px auto;
    font-weight: 600;
    font-size: 14px;
}